.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo {
  color: black;
  font-size: 25px;
}

.logo:hover, .span:hover {
  color: black;
  text-decoration: none;
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; 
  -webkit-box-orient: vertical;
  font-size: 10px;
  font-weight: bold;
}

#mySidenav {
  display: block;
  margin-left: 50px;
  margin-top: 120px;
  height: 100%;
  width: 0;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  padding-top: 60px;
  font-size: 22px;
  color: black;
  margin-right: 5%;
}

#mySidenav:hover {
  text-decoration: none;
}

.book-category {
  color: black;
  font-size: 20px;
}

.book-category:hover {
  text-decoration: none;
  color: black;
}

.cart-total {
  font-size: 30px;
  float: right;
  margin-right: 50px;
}

.clear-cart-button {
  float: left;
  margin-left: 20px;
  margin-top: 100px;
  font-weight: bold;
}

.checkout-button {
  font-size: 30px;
  position: absolute;
  right: 50px;
  margin-top: 100px;
}

.span {
  color: black;
  font-size: 20px;
}

#cartQuantityNumber {
  font-size: 15px;
  position: relative;
  top: -25px;
  left: 10px;
  height: 0px;
  width: 0px;
}

@media (min-width: 992px) {
  .span {
    margin-left: 30px;
  }
}

.showBookImage {
  display: block;
  margin-left: 27%;
  width: 50%;
}

.category-grid {
  display: grid;
  text-align: center;
  margin: auto auto auto;
  grid-template-columns: repeat(3, 1fr);
}

.text-block {
  position: absolute;
  padding: 5px;
  background-color: #e6f5ff;
  color: black;
  top: 40%;
  left: 30%;
}

@media(max-width: 299px) {
  .category-grid {
    grid-template-columns: repeat(1, 1fr);
    margin: auto auto auto;
  }
  .category-image {
    width: 150px;
    height: 150px;
  }
  .text-block {
    font-size: 20px;
  }
}

@media(min-width: 300px) {
  .category-grid {
    grid-template-columns: repeat(1, 1fr);
    margin: auto auto auto;
  }
  .category-image {
    width: 200px;
    height: 200px;
  }
  .text-block {
    font-size: 20px;
  }
}

@media(min-width: 500px) {
  .category-grid {
    grid-template-columns: repeat(2, 1fr);
    margin: auto auto auto;
  }
  .category-image {
    width: 200px;
    height: 200px;
  }
}

@media(min-width: 768px) {
  .category-grid {
    grid-template-columns: repeat(3, 1fr);
    margin: auto auto auto;
  }
  .category-image {
    width: 210px;
    height: 210px;
  }
  .text-block {
    left: 35%;
    font-size: 20px;
  }
}

@media(min-width: 991px) {
  .category-image {
    width: 250px;
    height: 250px;
  }
  .text-block {
    font-size: 25px;
  }
}

@media(min-width: 1150px) {
  .category-image {
    width: 275px;
    height: 275px;
  }
}

@media(min-width: 1200px) {
  .category-image {
    width: 300px;
    height: 300px;
  }
}

@media(min-width: 1300px) {
  .category-image {
    width: 325px;
    height: 325px;
  }
}

#searchForm {
  padding-bottom: 5px;
  height: 36.5px;
}